@model Section1.Models.Question3

@{
    ViewBag.Title = "Question4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>4.Check whether given string contains only digits without using regular expression?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Input, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Input, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Input, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (Model != null)
    {

        <div class="form-group">
            @Html.LabelFor(model => model.Output, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.Output)
                @Html.ValidationMessageFor(model => model.Output, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Find" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
